{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}

<!-- Fondo violeta para toda la página -->
<div class="bg-purple-gradient">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-10 mx-auto mb-5">
        <h2 class="purple-title mb-4">{{page.title}}</h2>
        <div class="page-detail-container">
          <div class="page-detail-content">
            {{ page.content|safe }}
          </div>
          {% if request.user.is_staff %}
            <a href="{% url 'pages_app:update' page.id %}" class="page-edit-link">
              <i class="fa fa-edit"></i> Editar
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
