{% extends 'core/base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9">
        <h1>Blog</h1>
        <!-- Button to create a new page (only visible to staff) -->
        {% if user.is_staff %}
        <div class="mb-4">
          <a class="btn btn-primary" href="{% url 'pages:create' %}">Crear página</a>
        </div>
        {% endif %}
        
        <!-- List of pages -->
        {% for page in page_list %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ page.title }}</h2>
              <p class="card-text">{{ page.content|safe|truncatewords_html:50 }}</p>
              <p class="card-text"><small class="text-muted">Creado: {{ page.created|date:"SHORT_DATE_FORMAT" }} - Última actualización: {{ page.updated|date:"SHORT_DATE_FORMAT" }}</small></p>
              <a href="{% url 'pages:page' page.id page.title|slugify %}" class="btn btn-primary">Leer más</a>
              {% if user.is_staff %}
              <a href="{% url 'pages:update' page.id %}" class="btn btn-secondary">Editar</a>
              <a href="{% url 'pages:delete' page.id %}" class="btn btn-danger">Borrar</a>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <div class="alert alert-info">No hay entradas de blog disponibles.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
