{% load i18n %}{% autoescape off %}
¡Hola!

Estás recibiendo este correo porque has solicitado restablecer la contraseña de tu cuenta en el Sistema de Electrolineras.

Por favor, ve a la siguiente página y elige una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}

¡Gracias por usar nuestro sistema!

El equipo del Sistema de Electrolineras
{% endautoescape %}
